body{
    margin: 0%;
}

page1{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 10rem 3rem 20rem 20rem 3rem 10rem;
    grid-template-areas:
    'hd hd'
    'nav nav'
    'sec1 img1'
    'main1 main1'
    'ikn ikn'
    'ft ft';
}

page2{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 25% 25% 25% 1fr;
    grid-template-rows: 10rem 3rem 22rem 10rem 10rem 10rem;
    grid-template-areas:
    'hd hd hd hd'
    'nav nav nav nav'
    'main2 main2 main2 as'
    'main2 main2 main2 as'
    'ft ft ft ft';
}

page3{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: calc(100%/3) calc(100%/3) 1fr;
    grid-template-rows: 10rem 3rem 10rem 30rem 10rem;
    grid-template-areas:
    'hd hd hd'
    'nav nav nav'
    'gly gly gly'
    'tip tip tip'
    'ft ft ft';
}


/*SHARED THINGS*/
header{
    grid-area: hd;
    display: flex;
    background-color: #ffdb6e;
    justify-content: center;
    /*#ffdb6e*/
}

#logo{
    height: 90%;
    width: 15%;
}

nav{
    display: flex;
    grid-area: nav;
    background-image:linear-gradient( to right, #FFC107, #F97068, #F97068, #F97068, #F97068, #FFC107 );
    flex-direction: row;
    justify-content: center;

}

.navigation_link{
    display: flex;
    color: #652f2d;
    width: 15rem;
    background-color: white;
    border: solid #F97068 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    transition: 500ms ease;

}

.navigation_link:hover{
    background-color: #F97068;
    color: white;
    
}

footer{
    grid-area: ft;
    background-color: #FFC107;
}

/*HOME PAGE*/
section1{
    grid-area: sec1;
    margin: 2rem;
    overflow: hidden;

}

#imagepage1{
    grid-area: img1;
    background-color: #EDF2EF;
    border-radius: 0 10rem 0 10rem;
    margin: 2rem;
    overflow: hidden;
    

}

img{
    width: 100%;
}

main1{
    grid-area: main1;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) 1fr;
    grid-template-rows: 20% 55% 1fr;
    grid-template-areas:
    'rub rub rub'
    'new new new'
    'lme lme lme';
    background-image:linear-gradient( to bottom, #ffdb6e, #ffdb6e, #FFC107, #F97068);

}

#nyhetsrubrik1{
    grid-area: rub;
    margin-left: 1%;
}
.nyhetpage1{
    margin: 3%;
    overflow: hidden;
}
.lasmerpage1{
    margin: 3%;
    padding: 4%;
    background-color:#ffdb6e;
    width: 80px;
    text-align: center;
    border: solid rgb(0, 0, 0) 1px;
}
.lasmerpage1:hover{
    background-color:#a9dbff;
    transition: 200ms;

}

#ikon{
    grid-area: ikn;
    display: flex;
    background-color: white;
    height: 100%;
    width: 4rem;
    
    

}

/* HEALTH PAGE */
main2{
    grid-area: main2;
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

}


aside{
    grid-area: as;
    background-color: #ffdb6e;
    padding: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    border: #FFC107, solid, 3px;
    overflow: hidden;
}

.facts{
    background-color: #a9dbff;
    width: 20%;
    border-radius: 30px;
    padding: 1.5%;
    height: 12rem;
    overflow: hidden;
}
.bilds{
    background-color: #652f2d;
    width: 23%;
    border-radius: 30px;
    height: 43%;
    margin-top: 1rem;
}

/*TRAINGING PAGE*/

gallery{
    grid-area: gly;
    background-color: #ffdb6e;
    display: flex;
    border: #F97068, solid, 5px;
}
.gallerybild{
    margin: 1%;
    border: #652f2d, solid, 3px;
}

tips{
    grid-area: tip;
    background-color: #EDF2EF;
}